@page "/"
@using Crudman.Helpers
@using Crudman.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Microsoft.EntityFrameworkCore.Infrastructure.Internal
@using System.Net
@using Microsoft.EntityFrameworkCore.Internal
@implements IAsyncDisposable
@inject IDbContextFactory<UrlModelContext> DbFactory
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Cruditizer Home</h1>

<button class="btn btn-primary" @onclick="CheckUrls">Check</button>

<span>@checkCompleteStr</span>

<QuickGrid Class="table" Items="context.UrlModel">
    <PropertyColumn Property="urlmodel => urlmodel.Url" Title="URL" />
    <TemplateColumn Context="model" Title="Full Status">
        @if (model.StatusCode is null)
        {
            <span class="connection-red">@model.ConnectionType</span>
        }
        else if (model.StatusCode == HttpStatusCode.OK)
        {
            <span class="connection-green">@model.StatusCode</span>
        }
        else if (model.ConnectionType == ConnectionType.Connected)
        {
            <span class="connection-yellow">@model.StatusCode</span>
        }
        else
        {
            <span class="connection-red">@model.StatusCode</span>
        }
    </TemplateColumn>
    <PropertyColumn Property="urlmodel => urlmodel.TimeCode" Title="Timestamp" />
    <PropertyColumn Property="urlmodel => urlmodel.Order" Title="Order #" IsDefaultSortColumn=true />
</QuickGrid>

@code {

    private string checkCompleteStr = String.Empty;
    private const int RESPONSE_TIMEOUT = 3;
    private UrlModelContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async void CheckUrls()
    {
        checkCompleteStr = String.Empty;
        StateHasChanged();
        List<UrlModel> urlList = context.UrlModel.ToList();
        Console.WriteLine("CheckURL run");

        var taskList = new List<Task<CheckedUrlStatus>>();

        foreach (UrlModel u in urlList)
        {
            if (u.Url is null)
            {
                continue;
            }

            Console.WriteLine("URL is " + u.Url.ToString());
            taskList.Add(Task<CheckedUrlStatus>.Run(async () => await UrlStatusHelper.CheckStatus(u, ClientFactory,
RESPONSE_TIMEOUT)));
        }

        while (taskList.Count > 0)
        {
            var completedTask = await Task.WhenAny(taskList.ToArray());
            taskList.Remove(completedTask);

            HandleCompletedUrlModelCheckTask(completedTask);
        }

        checkCompleteStr = "Check complete, refresh for results.";
        StateHasChanged();
    }

    private async void HandleCompletedUrlModelCheckTask(Task<CheckedUrlStatus> completedTask)
    {
        if (completedTask.IsCanceled)
        {
            Console.WriteLine("Task was cancelled externally.");
            return;
        }

        if (completedTask.IsFaulted)
        {
            Console.WriteLine("Task Faulted! ");
            return;
        }

        // TODO: May need to handle null exception in production
        CheckedUrlStatus status = completedTask.Result;
        await UpdateModelFromStatus(status);
    }

    private async Task UpdateModelFromStatus(CheckedUrlStatus status)
    {
        using var context = DbFactory.CreateDbContext();
        UrlModel model = await context.UrlModel.FirstAsync(m => m.Id == status.Model.Id);

        if (model is null)
        {
            Console.WriteLine("ATTEMPTED update of database but model is NULL");
            return;
        }
        model.UpdateFromCheck(status.Response, status.Code);

        // TODO: Check for Overpost attack handling learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
        context.Attach(model).State = EntityState.Modified;

        try
        {
            Console.WriteLine("Trying to save changes of " + model.Url + " to database...");
            await context.SaveChangesAsync();
            Console.WriteLine(model.Url + " save success!");
        }
        catch (DbUpdateConcurrencyException)
        {
            // TODO: Resolve possible concurency Exception: learn.microsoft.com/en-us/ef/core/saving/concurrency?tabs=data-annotations#resolving-concurrency-conflicts
            Console.WriteLine("ConcurrencyException with model!");
            throw;
        }
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}